{% load static %}
<h2>Фильм {{name}}</h2>
<img  src="{% static "m1.jpg" %}" alt="Здесь должна быть картинка с первым томом" width="268" height="405">

<p>
Четверых детей родители отправляют из Лондона в деревню, к старому профессору - другу семьи. В его доме дети обнаруживают таинственный платяной шкаф,
    посредством которого они попадают в сказочную страну Нарнию, где обитают фантастические люди, животные и существа.
<br>
</p>

<br>
<a href="{% url 'main_url' %}">Вернуться назад</a>